
/*** Animations ***/

.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}


/************** General **************/

body {
  margin: 0;
  PADDING: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


a {
  color: #000;
  text-decoration: none;

}

/************** Header **************/

nav {
  background-color: white;
   width: 100%;
}

.shipping-banner {
  background-color: #AAFFE5;
  font-weight: bold;
  text-align: center;
  padding: 11px 0;
  font-size: 16px;
  width: 100%;
  display:block;
}

.header-navigation {
  display: relative;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
}

/* Logo */
.logo-container {
  display: block;
  position: absolute;
  left: 150px;
  top: 60px;
}

img.logo {
  height: 60px;
}

/* Nav Bar */
.navbar {
  text-align: center;
}

ul.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.primary-nav-item {
  display: inline-block;
  font-size: 16px;
}

li.primary-nav-item > a {
  display: block;
  padding: 41px 20px;
}

li.primary-nav-item:hover {
  box-shadow: inset 0 -2px 0 0 black;
  cursor: pointer;
}

.dropdown-content {
  max-width: 100vw;
  opacity: 1;
  visibility: hidden;
  transition: opacity .1s,visibility 0ms;
  transition-delay: .3s;
  overflow: auto;
  background:white;
  right: 0;
  left: 0;
  top: 140px;
  text-align: left;
  position: absolute;
  opacity: 0;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  visibility: hidden;
  overflow: hidden;
  z-index: 9000;
  transition: opacity .1s linear .4s,visibility 0ms linear .41s;
}


.primary-nav-item:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transition: opacity .1s,visibility 0ms;
  transition-delay: .3s;
  overflow: auto
}

/* Cart */
.cart-container {
  height: 24px;
  display: block;
  position: absolute;
  right: 150px;
  top: 78px;
}

/* Dropdown */
.dropdown-content {
  display: flex;
  /* justify-content: center;
  align-items: baseline; */
  padding: 20px 150px;
}

.dropdown-col-1, .dropdown-col-2  {
  min-width: 150px;
  padding: 0 20px;
  box-shadow: inset -1px 0 0 0 #e5e5e5;
}

.dropdown-col-1 > span, .dropdown-col-1 > a, .dropdown-col-2 > span, .dropdown-col-2 > a {
    display: block;
}

.dropdown-col-1 > span, .dropdown-col-2 > span {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: default;
    font-style: italic;
}

.dropdown-col-1 > a, .dropdown-col-2 > a {
  margin-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
  transition: all .3s,
}

.dropdown-col-1 > a:hover, .dropdown-col-2 > a:hover {
  text-decoration: line-through;
}
