
/*** Animations ***/

.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}


/************** General **************/

@font-face {
font-family: "selima";
src: url("/fonts/selima.otf") format("opentype");
}

@font-face {
font-family: "bebasNeue";
src: url("/fonts/BebasNeue-regular.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-family: "selima";
  font-size: 70px;
  margin-bottom: 20px;
  position: relative;
  font-weight: normal;
}

h1.underline::before {
  content: "";
  height: 30px;
  width: 150px;
  background: #FFD1F2;
  position: absolute;
  z-index: -1;
  top: 45px;
}

p {
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

.main {
  min-height: calc(100vh - 426px);
  padding: 20px 150px;
  height: 100%;
  position: relative;
}


/************** Header **************/

nav {
  background-color: white;
  width: 100%;
}

.shipping-banner {
  background-color: #AAFFE5;
  font-weight: bold;
  text-align: center;
  padding: 11px 0;
  font-size: 16px;
  width: 100%;
  display:block;
}

.header-navigation {
  display: relative;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
}

/* Logo */
.logo-container {
  display: block;
  position: absolute;
  left: 150px;
  top: 60px;
  transition: all .2s ease-out;
}
.logo-container:hover {
 transform: rotate(20deg);
}

img.logo {
  height: 60px;
}

/* Nav Bar */
.navbar {
  text-align: center;
}

ul.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.primary-nav-item {
  display: inline-block;
  font-size: 16px;
}

li.primary-nav-item > a {
  display: block;
  padding: 41px 20px;
}

li.primary-nav-item:hover {
  box-shadow: inset 0 -2px 0 0 black;
  cursor: pointer;
}

.dropdown-content {
  max-width: 100vw;
  opacity: 1;
  visibility: hidden;
  overflow: auto;
  background:white;
  right: 0;
  left: 0;
  top: 140px;
  text-align: left;
  position: absolute;
  opacity: 0;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  visibility: hidden;
  overflow: hidden;
  z-index: 9000;
  transition: opacity .1s linear .4s,visibility 0ms linear .41s;
}


.primary-nav-item:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transition: opacity .1s,visibility 0ms;
  transition-delay: .3s;
  overflow: auto
}

/* Cart */
.cart-container {
  height: 24px;
  display: block;
  position: absolute;
  right: 150px;
  top: 78px;
  transition: all .2s ease-out;
}

.cart-container:hover {
  /* animation: 1s ShakeMeUp ease-in; */
  transform: rotate(20deg);
}

.cart-container.just-added {
  animation: 1s ShakeMeUp ease-in;
}

.cartLink {
  position: relative;
}

.cartItems {
  text-align: center;
  font-weight: 500;
  display: inline;
  position: absolute;
  height: 20px;
  width: 20px;
  background: #AAFFE5;
  top: -17px;
  left: 17px;
  border-radius: 10px;
}

@keyframes ShakeMeUp {
  0% {
    transform: rotate(-20deg) scale(1.3);
  }
  33% {
     transform: rotate(15deg);
  }
  50% {
     transform: rotate(-10deg);
  }
  66% {
      transform: rotate(5deg);
  }
  100% {
      transform: rotate(0deg) scale(1);
  }
}

/* Dropdown */
.dropdown-content {
  display: flex;
  /* justify-content: center;
  align-items: baseline; */
  padding: 20px 150px;
}

.dropdown-col-1, .dropdown-col-2  {
  min-width: 150px;
  padding: 0 20px;
  box-shadow: inset -1px 0 0 0 #e5e5e5;
}

.dropdown-col-1 {
  box-shadow: inset -1px 0 0 0 #e5e5e5, inset 1px 0 0 0 #e5e5e5;
}

.dropdown-col-1 > span, .dropdown-col-1 > a, .dropdown-col-2 > span, .dropdown-col-2 > a {
    display: block;
}

.dropdown-col-1 > span, .dropdown-col-2 > span {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: default;
    font-style: italic;
}

.dropdown-col-1 > a, .dropdown-col-2 > a {
  margin-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
  transition: all .3s,
}

.dropdown-col-1 > a:hover, .dropdown-col-2 > a:hover {
  text-decoration: line-through;
}


/************** Footer **************/
.main-footer {
  background-color:  #F7F7F7;
  display: flex;
  padding: 40px 150px;
}

.main-footer span {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: default;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
  /* padding: 0 20px;
  box-shadow: inset -1px 0 0 0 #e5e5e5; */
}

.footer-col-2 {
  padding-left: 150px;
}

.footer-col-1 > span, .footer-col-1 > a, .footer-col-2 > span, .footer-col-2 > input {
  display: block;
}

.footer-col-1 > a {
    margin-bottom: 5px;
    font-size: 12px;
    text-decoration: none;
    transition: all .3s;
}

.footer-col-1 > a:hover {
  text-decoration: line-through;
}

.footer-col-2 {
  font-size: 12px;
  transition: all .3s;
}

.footer-col-2 p {
  margin: 0;
  margin-bottom: 5px;
}

.footer-col-2 input {
  width: 280px;
  height: 30px;
}

.footer-col-3 {
  margin-left: auto;
}

.footer-col-3 .social {
  height: 26px;
  transition: all .2s ease-out;
}

.footer-col-3 .social.instagram {
  margin: 0 10px;
}

.footer-col-3 .social:hover {
  transform: rotate(-20deg);
}

/* Copyright */
.copyright {
  font-size: 10px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 11px 150px;
}

.copyright a {
  font-weight: bold;
}

.copyright a:hover {
  text-decoration: line-through;
}

/************** BreadCrumb **************/
.breadcrumb-container, .breadcrumb-container a  {
  color: grey;
  font-size: 12px;
  text-transform: lowercase;
}

.breadcrumb-container span {
  color: black;
  font-weight: bold;
}


.breadcrumb-container a:hover {
  text-decoration: line-through;
}

/************** About Page **************/
.about-page {
  display: flex;
  /* background: lightblue; */
}

.about-page div {
  flex: 5;
}

.about-page .text-box {
  margin-right: 50px;
}

.about-page img {
  width: 100%;
}

/************** Catalogue/Shop Page **************/

.current-filters h2 {
  text-transform: uppercase;
  font-family: "bebasNeue";
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.filter-container {
  margin-bottom: 20px;
}

/* Single Filter */

.single-filter {
  display: inline-block;
  padding: 5px 20px;
  padding-right: 10px;
  margin-right: 20px;
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
}

.single-filter span {
  text-transform: capitalize;
}

.single-filter button {
  border: 0;
  margin-left: 20px;
  font-size: 1em;
  padding: 0;
}

.single-filter button:hover {
  color: grey;
  cursor: pointer;
}

/* Button to Add Filter */
.show-form-button-container {
  position: absolute;
  right: 150px;
  top: 45px;
}

button.show-form {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  margin: 15px 0;
  position: relative;
  cursor: pointer;
  transition: all .1s ease-out;
}

button.show-form::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border: none;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: all .1s ease-out;
  background: #FFD1F2;
}

button.show-form:hover::before {
  transform: translate(0);
}


/* form Container */
.sidebar-filter {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  padding: 20px;
  position: relative;
}

.sidebar-filter h3, .sidebar-filter p {
  text-transform: uppercase;
}

.sidebar-filter h3 {
  margin-bottom: 20px;
  display: inline-block;
}


.sidebar-filter span.close-form {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.sidebar-filter span.close-form:hover {
  color: grey;
}

.sidebar-filter .form-select {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.sidebar-filter p.form-subheading {
  font-style: italic;
  width: 100%;
  margin-bottom: 10px;
}


/* START Radio Custom*/

.sidebar-filter .radio-container {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 20px;
  padding-left: 25px;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a white bkrg */
.radio-container input:checked ~ .checkmark {
  background-color: #fff;
}

/* add a Tick when checked */
.checkmark:after {
  content: url("/images/black-tick.svg");
  margin: auto;
  position: absolute;
  display: none;
}

/* Show the tick when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the tick */
.radio-container .checkmark:after {
  top: calc(50% - 7.5px);
  left: calc(50% - 7.5px);
  height: 15px;
  width: 15px;
	border-radius: 50%;
}

.radio-container input:checked+label {
  font-weight: bold;
}

/* END Radio Custom*/

button.form-submit{
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  /* margin: 15px 0; */
  position: relative;
  cursor: pointer;
  transition: all .1s ease-out;
}

button.form-submit::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border: none;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: all .1s ease-out;
  background: #FFD1F2;
}

button.form-submit:hover::before {
  transform: translate(0);
}

/* List */

.shop-list {
  box-shadow: inset 0 1px 0 0 #e5e5e5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.shop-list .product-container {
  margin: 5px;
  position: relative;
}

.shop-list .product-container .img-container {
  width: 230px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shop-list i {
  width: 230px;
  margin: 5px;
}

.shop-list .product-container img {
  max-width: 230px;
  transition: all .2s ease-out;
}

.shop-list .product-container .img-container:hover img {
  transform: scale(1.2) rotate(10deg);
}

.shop-list .product-container h3 {
  font-family: "selima";
  margin: 10px 0 5px 0;
  font-size: 1.8em;
  font-weight: 400;
  transition: all .2s ease-out;
}

.shop-list .product-container h3:hover {
  transform: skew(-15deg, 0deg);
}

.shop-list .product-container h4 {
  text-transform: uppercase;
  font-family: "bebasNeue";
  font-weight: normal;
  font-size: 1.3em;
  display: inline;
}

.product-container span {
    background: #AAFFE5;
    padding: 2px;
    font-size: .8em;
    position: absolute;
    right: 0;
    font-weight: bold;
}


/************** Single Product Page **************/

.single-product-page {
  display: flex;
}

.single-product-page .img-container {
  flex: 4;
}

/* Prod IMG */
.single-product-page img {
  width: 100%;
}

/* Text Box */
.single-product-page .text-box {
  flex: 6;
}
.single-product-page .text-box {
  margin-left: 50px;
}

.prod-page-types, .prod-page-price {
  display: block;
  margin-bottom: 20px;
}

.prod-page-types h2  {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 15px;
  box-shadow: inset -1px 0 0 0 #e5e5e5;
  font-family: "bebasNeue";
  font-weight: normal;
}

.prod-page-types .prod-page-skins  {
  display: inline-block;
  padding: 0 15px;
  box-shadow: inset -1px 0 0 0 #e5e5e5;
}

.prod-page-size {
  display: inline-block;
  padding: 0 15px;
}

.bold {
  font-weight: bold;
  text-transform: capitalize;
}

.prod-page-price {
  font-family: "bebasNeue";
  font-size: 2em;
}

/* Buttons */
.button-section {
  margin-bottom: 20px;
}

.prod-qty-section {
  font-family: "bebasNeue";
  font-size: 1.3em;
}

button.qty-slct {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  padding: 5px 10px;
  font-size: 1em;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

button.qty-slct:hover {
  background-color: #f2f2f2;
}

button.qty-slct:disabled {
  opacity: .5;
  cursor: default;
}

button.qty-slct:disabled:hover {
  background-color: inherit;
}

.add-to-cart {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  padding: 20px 30px;
  font-size: 1em;
  border: none;
  margin: 15px 0;
  position: relative;
  cursor: pointer;
  transition: all .1s ease-out;
}

.add-to-cart::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border: none;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: all .1s ease-out;
}

.add-to-cart:disabled {
  background-color:  #f2f2f2;
}

.add-to-cart:disabled::before {
  display: none;
}

/* add to cart before color */
.goodByeSunshine::before {
  background-color: #e3771c;
}
.allUnderControl::before {
  background-color: #947cb0;
}
.lemonCandy::before {
  background-color: #fbef37;
}
.sealTheDeal::before {
  background-color: #7b2c88;
}
.thePorefect::before {
  background-color: #7eae96;
}
.coolAsCucumber::before {
  background-color: #7dba6a;
}
.quickFix::before {
  background-color: #ebc644;
}
.noHandyMan::before {
  background-color: #ac1684;
}
.greenCocktail::before {
  background-color: #55924d;
}
.berryFresh::before {
  background-color: #615a9d;
}
.allAboutMoisture::before {
  background-color: #5689c8;
}
.acaiBowl::before {
  background-color: #774260;
}
.landOfWonders::before {
  background-color: #5260a9;
}
.sunnyDayInParadise::before {
  background-color: #d6685b;
}
.easyAs::before {
  background-color: #bb65a6;
}
.rescueMe::before {
  background-color: #4c6db2;
}
.summerFruitSalad::before {
  background-color: #ef4244;
}
.escapeInBoraBora::before {
  background-color: #0bbff2;
}


.add-to-cart:hover {
  background-color:  #f2f2f2;
}

.add-to-cart:hover::before {
  transform: translate(0);
}

/* Extra Content */
.single-product-page .extra-content {
  box-shadow: inset 0 1px 0 0 #e5e5e5;
}

.single-product-page .extra-content h3 {
  padding: 15px 0;
  font-weight: 500;
}

.single-product-page .extra-content h3.closed {
  cursor: pointer;
  transition: all .2s ease-out;
}

.single-product-page .extra-content h3.closed:hover {
  transform: skew(-15deg, 0deg);
}

.text-dropdown {
  font-size: 0em;
  opacity: 0;
  transition: font-size 300ms 300ms ease-in, opacity 300ms 0ms ease-in;
}

.text-dropdown.open {
  transition: font-size 300ms 0ms ease-in, opacity 300ms 300ms ease-in;
  font-size: 1em;
  opacity: 1;
}

.text-dropdown p {
  margin-bottom: 1em;
  padding-bottom: 0;
}

/* you might also like */

.recommendation h2 {
  margin: 20px 0;
  text-transform: uppercase;
  font-family: "bebasNeue";
  font-weight: normal;
  text-align: center;
}

.recommendation-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
}

.recommendation-container .product-container {
  max-width: 270px;
  width: 100%;
}

.recommendation-container .img-container {
  max-width: 270px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.recommendation-container .img-container img {
  width: 100%;
  transition: all .2s ease-out;
}


.recommendation-container .product-container img:hover {
  transform: scale(1.2) rotate(10deg);
}

.recommendation-container .product-container h3 {
  font-family: "selima";
  margin: 10px 0 5px 0;
  font-size: 1.8em;
  font-weight: 400;
  transition: all .2s ease-out;
}

.recommendation-container .product-container h3:hover {
  transform: skew(-15deg, 0deg);
}

.recommendation-container .product-container h4 {
  text-transform: uppercase;
  font-family: "bebasNeue";
  font-weight: normal;
  font-size: 1.3em;
}

/* Modal */
.modal {
  z-index: 2;
  background: hsla(0, 0%, 20%, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.modal-container {
  background: white;
  position: absolute;
  right: 0;
  padding: 20px;
}

.modal h3 {
  font-family: "bebasNeue";
  font-weight: 400;
  font-size: 1.8em;
}

.modal h3::before {
  content: url("/images/tick.svg");
  padding-right: 10px;
}

.modal-prod-info {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.modal-prod-info p, .modal-prod-info img {
  display: inline-block;
}

.modal-prod-info img {
  width: 50px;
}

.modal-prod-info p {
  margin-left: 20px;
}
.modal-name {
  font-family: "selima";
  font-size: 1.5em;
  font-weight: normal;
}

.modal-price {
  font-family: "bebasNeue";
  font-size: 1.2em;
}

.modal-button-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-button-section > button {
  margin-right: 20px;
}

.modal-button-section button {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  width: 50%;
  /* padding: 20px 30px; */
  font-size: 1em;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all .1s ease-out;
}

.modal-button-section button.keep-shopping {
  padding: 20px 30px;
}

.modal-button-section button.go-to-cart a {
  padding: 20px 30px;
  display: block;
}


.modal-button-section button:hover {
  background-color: #e5e5e5;
}


/************** CART **************/

/* Delivery Container */

.delivery-container {
  background: #F7F7F7;
  padding: 20px;
  font-size: .8em;
  margin-bottom: 20px;
}

.delivery-container p {
  text-transform: uppercase;
  font-family: "bebasNeue";
  font-weight: normal;
  font-size: 1.4em;
  margin-bottom: 5px;
  color: #FF01B8;
}

/* Main Section */

.main-cart-container {
  display: flex;
}

.current-cart-container {
  width: 65%;
  margin-right: 20px;
}

.cart-sidebar {
  width: 35%;
}

/* Container List */

.current-cart-container {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  height: fit-content;
  text-transform: uppercase;
  font-family: "bebasNeue";
}

.empty-cart {
  font-family: sans-serif;
  text-transform: none;
  padding: 20px;
  font-size: .8em;
}

.empty-cart a {
  color: #FF01B8;
  font-weight: bold;
}

.current-cart-container h2 {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5;
  background: #F7F7F7;
  padding: 20px;
  font-weight: normal;
}

.cart-content {
  padding: 0 20px;
  justify-content: space-between;
}

.cart-content-single {
  display: flex;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  margin: 20px 0;
  padding-bottom: 10px;
}

.cart-content-single img {
  width: 150px;
  margin-right: 20px;
}

.cart-content-single .align-right {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-content-single h3 {
  font-family: "selima";
  font-weight: normal;
  font-size: 2em;
  text-transform: none;
  margin-bottom: 7px;
}

.cart-content-single h4 {
  display: inline-block;
  font-weight: normal;
  font-size: 1.3em;
}

.cart-content-single .prod-info-container {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "bebasNeue"
}

.cart-content-single .prod-qty-container {
  margin-top: auto;
  margin-bottom: 5px;
}

.cart-content-single .total-price {
  font-size: 1.5em;
  color:  #FF01B8;
  margin-left: auto;
}

.cart-content-single button.delete-product {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  padding: 10px 20px;
  background-color: #F7F7F7;
  font-size: .8em;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}

.cart-content-single button.delete-product:hover {
  background: #FA1754;
  color: white;
  font-weight: bold;
}

/* Sidebar */
.summary-container {
  padding: 20px;
  background: #363636;
  color: white;
  margin-bottom: 20px;
}

.summary-container h2, .summary-container p {
  text-transform: uppercase;
  font-family: "bebasNeue";
  font-weight: normal;
}

.summary-container h2 {
  font-size: 1.6em;
}

.summary-container p {
  margin-top: 20px;
  font-size: 1.2em;
  position: relative;
}

.summary-container p span {
  margin-top: 20px;
  position: absolute;
  right: 0;
  top: -20px;
}

span.spend-more-shipping {
  color: #FF01B8;
  font-size: .8em;
}

.summary-container .summary-total {
  font-size: 1.6em;
  margin-bottom: 20px;
}

#paypal-button-container {
 width: 250px;
 background-color: red !important;
 }


/* .summary-container .paypal-button {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
  width: 100%;
}

.summary-container .paypal-button:hover {
  background-color: #FF01B8;
  box-shadow: inset 1px 0 0 0 #FF01B8, inset -1px 0 0 0 #FF01B8, inset 0 1px 0 0 #FF01B8, inset 0 -1px 0 0 #FF01B8;
  color: white;
  font-weight: bold;
} */

.help-container {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
}

.help-container h2 {
  box-shadow: inset 1px 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5;
  background: #F7F7F7;
  padding: 20px;
  text-transform: uppercase;
  font-family: "bebasNeue";
  font-weight: normal;
}

.help-container .help-links {
  padding: 10px;
}

.help-container a {
  display: block;
  padding: 5px 10px;
  font-size: .8em;
}

.help-container a:hover {
  text-decoration: line-through;
}


/************** Responsive **************/

/**** Tablet *****/
@media only screen and (max-width: 992px) {

/**** header *****/
  .shipping-banner {
    font-size: .8em;
  }
  .navbar {
    display: none;
  }
}


/**** Phone *****/
@media only screen and (max-width: 992px) {

/**** header *****/
  body {
    background-color: lightblue;
  }
}
